<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="LogglyAppender" />
    </root>
    <appender name="LogglyAppender" type="log4net.loggly.LogglyAppender, log4net-loggly">
      <rootUrl value="https://collector01.chipper01.loggly.net/" />
      <inputKey value="89e8b8e9-439f-4be6-b5b2-269a9ebdfeaa" />
      <tag value="dotnet-core-windows" />
      <logicalThreadContextKeys value="lkey1,lkey2" /> <!-- optional -->
      <globalContextKeys value="gkey1,gkey2" /> <!-- optional -->
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC1}] - %message%newline" />
      </layout>
    </appender>
  </log4net>
</configuration>